header {
    height: 80vh;
    padding-top: 2rem;
    overflow: hidden;
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}
.text-light{
    font-size: 1.1rem;
}
.header__p{
    margin: 1rem 0 2.6rem;
    color:var(--color-light);
    font-size: 1.2rem;
}

/* ======== CTA ==========*/

.cta {
    margin-top: 1.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ======== HEADER SOCIALS ==========*/
.header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    font-size: 2.5rem;
    bottom: 3rem;
}


.header_socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* ======== IMG ME ==========*/

.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 23rem;
    height: 16rem;
    position: relative;
    left: calc(50% - 11rem);
    margin-top: 3.5rem;
    border-radius: 7rem 7rem 0rem 0rem;
    overflow: hidden;
    padding: 1rem 1rem 1rem 2.5rem;
}

/* ======== SCROLL DOWN ==========*/

.scroll_down {
    position: absolute;
    right: -1rem;
    bottom: 3rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 1.5rem;
}



/* ============ MEDIA QUERIES (MEDIUM DEVICES) ===========*/

@media screen and (max-width:1024px) {
    header {
       height: 68vh; 
    }
}

/* ============ MEDIA QUERIES (SMALL DEVICES) ===========*/

@media screen and (max-width:600px) {
    header {
       height: 100vh;
    }

    .header_socials, .scroll_down {
       display: none;
    }
}